@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ProyectoPrograWeb.Models.VAdoptionUser>
@{
    ViewData["Title"] = "Adoptions List";

}
@section Css {
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/adopStyle.css" rel="stylesheet" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        let acceptAdoption = "@Url.Action("AcceptAdoption")";
        let cancelAdoption = "@Url.Action("CancelAdoption")";
    </script>
    <script src="~/js/adoptConfirmScript.js"></script>
}

<div class="row offset-md-1 offset-sm-2 offset-2">
    <div class="justify-content-center">
        <table id="adoptions" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Pet Name</th>
                    <th>Pet Specie</th>
                    <th>Pet Breed</th>
                    <th>Pet Sex</th>
                    <th>Pet Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var adoption in Model)
                    {
                            <tr class="request-@adoption.IdAdoptionRequest">
                                <td>@adoption.FirstName @adoption.LastName</td>
                                <td>@adoption.NamePet</td>
                                <td>@adoption.NameSpecie</td>
                                <td>@adoption.NameBreed</td>
                                <td>@adoption.NameSex</td>
                                <td>@adoption.NameStatus</td>
                                @{
                                    if (SignInManager.IsSignedIn(User))
                                    {
                                        if (User.IsInRole("admin"))
                                        {
                                            <td class="d-inline-flex">
                                                <button class="btn btn-success acceptAdoption mx-1" idPet="@adoption.IdPet" namePet="@adoption.NamePet" idRequest="@adoption.IdAdoptionRequest">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </button>
                                                <button class="btn btn-danger cancelAdoption mx-1" idPet="@adoption.IdPet" namePet="@adoption.NamePet" idRequest="@adoption.IdAdoptionRequest">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a class="btn btn-primary" href="@Url.Action("Details", new { idPet = adoption.IdPet })">Pet Details</a>
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>