@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ProyectoPrograWeb.Models.VPet>
@{
    ViewData["Title"] = "Pets List";

}
@section Css {
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/adopStyle.css" rel="stylesheet" />
}
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        let adoptRequestURL = "@Url.Action("AdoptRequest")";
    </script>
    <script src="~/js/adoptScript.js"></script>
}

<img src="~/img/adop.jpg" class="img-fluid center" alt="...">
<div class="bar my-3 row">
    <form class="form-inline justify-content-center">
        <div class="input-group w-100 my-3 mx-5">
            <input id="namePet" class="form-control" type="search" placeholder="Do you remember the name of this pet? Search it!" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
        <div class="input-group m-3 mt-0">
            <div class="input-group-prepend">
                <label class="input-group-text">Select breed</label>
            </div>
            <select id="breed" class="form-control custom-select">
                <option value="" selected>All</option>
                @{
                    foreach (var breed in ViewBag.breed)
                    {
                        <option value="@breed.NameBreed">@breed.NameBreed</option>
                    }
                }
            </select>
        </div>
        <div class="input-group m-3 mt-0">
            <div class="input-group-prepend">
                <label class="input-group-text">Select sex</label>
            </div>
            <select id="sex" class="form-control custom-select">
                <option value="" selected>All</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="input-group m-3 mt-0">
            <div class="input-group-prepend">
                <label class="input-group-text">Age in</label>
            </div>
            <select id="typeAge" class="form-control custom-select">
                <option value="" selected>Months and Years</option>
                <option value="Month">Just Months</option>
                <option value="Year">Just Years</option>
            </select>
        </div>
        <div class="input-group m-3 mt-0">
            <div class="input-group-prepend">
                <label class="input-group-text">Minimum Age</label>
            </div>
            <input id="minAge" class="form-control" type="number" />
        </div>
        <div class="input-group m-3 mt-0">
            <div class="input-group-prepend">
                <label class="input-group-text">Maximum Age</label>
            </div>
            <input id="maxAge" class="form-control" type="number" />
        </div>
        @{
            if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("admin"))
                {
                    <div class="input-group m-3 mt-0">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Status of Pet</label>
                        </div>
                        <select id="statusPet" class="form-control custom-select">
                            <option value="" selected>All</option>
                            <option value="Available">Available</option>
                            <option value="In adoption process">In adoption process</option>
                        </select>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("Create", new { idSpecie = Model.FirstOrDefault().IdSpeciePet })">Register New Pet</a>
                    </div>
                }
            }
        }

    </form>
</div>

<div class="row offset-md-1 offset-sm-2 offset-2">
    <div class="justify-content-center">
        <table id="pets" class="table table-sm table-hover cards" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="d-none">Specie</th>
                    <th>Foto</th>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Energy</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var pet in Model)
                    {
                        if (pet.IdStatusPet == 1)
                        {
                            <tr class="pet-@pet.IdPet">
                                <td class="d-none">@pet.NameSpecie</td>
                                <td>
                                    <img src="@pet.PhotoPathPet" class="card-img-top" alt="...">
                                </td>
                                <td class="d-none">@pet.NamePet</td>
                                <td>Breed: @pet.NameBreed</td>
                                <td>@pet.NameSex</td>
                                <td>
                                    Age: @pet.AgePet
                                    @{
                                        if (pet.IsAgeMonth)
                                        {
                                            if (pet.AgePet == 1)
                                            { <span>Month</span> }
                                            else
                                            { <span>Months</span> }
                                        }
                                        else
                                        {
                                            if (pet.AgePet == 1)
                                            { <span>Year</span> }
                                            else
                                            { <span>Years</span> }
                                        }
                                    }
                                </td>
                                <td>Energy: @pet.LevelName</td>
                                <td class="d-none">@pet.NameStatus</td>
                                <td class="d-inline-block">
                                    <div class="row justify-content-center">
                                        <a href="@Url.Action("Details", new { idPet = pet.IdPet })"><img src="~/img/bottoDetails.png" class="img-fluid btnImage btnImageDetails" /></a>
                                        @{
                                            if (SignInManager.IsSignedIn(User))
                                            {
                                                if (!(User.IsInRole("admin")))
                                                {
                                                    <img src="~/img/bottoAdopt.png" class="img-fluid btnImage btnImageAdopt" idPet="@pet.IdPet" />
                                                }
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (SignInManager.IsSignedIn(User))
                            {
                                if (User.IsInRole("admin"))
                                {
                                    <tr class="pet-@pet.IdPet">
                                        <td class="d-none">@pet.NameSpecie</td>
                                        <td>
                                            <img src="@pet.PhotoPathPet" class="card-img-top" alt="...">
                                        </td>
                                        <td class="d-none">@pet.NamePet</td>
                                        <td>Breed: @pet.NameBreed</td>
                                        <td>@pet.NameSex</td>
                                        <td>
                                            Age: @pet.AgePet
                                            @{
                                                if (pet.IsAgeMonth)
                                                {
                                                    if (pet.AgePet == 1)
                                                    { <span>Month</span> }
                                                    else
                                                    { <span>Months</span> }
                                                }
                                                else
                                                {
                                                    if (pet.AgePet == 1)
                                                    { <span>Year</span> }
                                                    else
                                                    { <span>Years</span> }
                                                }
                                            }
                                        </td>
                                        <td>Energy: @pet.LevelName</td>
                                        <td class="d-none">@pet.NameStatus</td>
                                        <td class="d-inline-block">
                                            <div class="row justify-content-center">
                                                <a href="@Url.Action("Details", new { idPet = pet.IdPet })"><img src="~/img/bottoDetails.png" class="img-fluid btnImage btnImageDetails" /></a>
                                                @{
                                                    if (SignInManager.IsSignedIn(User))
                                                    {
                                                        if (!(User.IsInRole("admin")))
                                                        {
                                                            <img src="~/img/bottoAdopt.png" class="img-fluid btnImage btnImageAdopt" idPet="@pet.IdPet" />
                                                        }
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>