@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Paws on ur heart</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/layoutStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark alert alert-light mb-0" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <div class="dropdown ">
                                            <a class="nav-link text-dark alert alert-light dropdown-toggle mb-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Register New Pet
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("Create", "Pets", new { idSpecie = 1 })">Dog</a>
                                                <a class="dropdown-item" href="@Url.Action("Create", "Pets", new { idSpecie = 3 })">Cat</a>
                                                <a class="dropdown-item" href="@Url.Action("Create", "Pets", new { idSpecie = 4 })">Bunny</a>
                                                <a class="dropdown-item" href="@Url.Action("Create", "Pets", new { idSpecie = 2 })">Hamster</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="dropdown ">
                                            <a class="nav-link text-dark alert alert-light dropdown-toggle mb-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                List of Pets
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 1 })">Dogs</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 3 })">Cats</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 4 })">Bunnies</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 2 })">Hamsters</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark alert alert-light mb-0" href="@Url.Action("AdoptionConfirm", "Pets")">Confirm Adoptions</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark alert alert-light mb-0" href="@Url.Action("BeforeAdopting", "Home")">Before Adopting</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark alert alert-light mb-0" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="dropdown ">
                                            <a class="nav-link text-dark alert alert-light dropdown-toggle mb-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Adopt
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 1 })">Dogs</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 3 })">Cats</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 4 })">Bunnies</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Pets", new { idSpecie = 2 })">Hamsters</a>
                                            </div>
                                        </div>
                                    </li>
                                    @*
                    <li class="nav-item">
                        <a class="text-dark alert alert-danger mb-0" href="@Url.Action("Donations", "Home")">Donations</a>
                    </li>
                                    *@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark alert alert-light mb-0" href="@Url.Action("AdoptionConfirm", "Pets")">My Adoption Requests</a>
                                    </li>

                                }
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container home" style="display: table;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-4">
        <div class="footer-top justify-content-center text-center mb-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-yellow">WANNA ADOPT?</div>
                        <div>
                            <a class="btn btn-secondary" asp-area="Identity"
                               asp-page="/Account/Register">
                                Sign up
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-yellow">HELP US CONTINUE CREATING SMILES</div>
                        <div>
                            <a class="btn btn-secondary" asp-area="Identity"
                               asp-page="/Account/Register">
                                Donations
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center text-white">
            <div class="container ">
                Rights reserved &copy; 2021 - Paws on ur heart Foundation
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
