@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="row mb-3 mt-3">
        <div class="col-md-9 offset-md-1 offset-0">
            <img src="~/img/animals-register.png" width="100%" />
        </div>
    </div>
    <div class="col-md-6 offset-1">
        <h4 class="text-center">New User</h4>
        <hr />
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control orange" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control orange" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Input.UserLastname"></label>
                        <input asp-for="Input.UserLastname" class="form-control orange" />
                        <span asp-validation-for="Input.UserLastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control orange" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control orange" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-4 offset-4 mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>
        </section>
    </div>
    <section class="col-md-3 col-10 offset-md-0 offset-1">
        <h4 class="text-center">Join our community!</h4>
        <hr />
        <div class="text-justify">
            <span>By joinning you will be able to:</span>
            <ul>
                <li>Apply to adopt the little ones who are anxiously waiting for a home.</li>
                <li>Let your pets for adoption or even find the best companion for any friend.</li>
                <li>Receive notifications of new animals and support the foundation.</li>
            </ul>
        </div>

        <h4>Use another service to register.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @{
                                foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fa fa-google"></i> @provider.DisplayName
                                        </button>
                                    }
                                    if (provider.Name == "Facebook")
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fa fa-facebook"></i> @provider.DisplayName
                                        </button>
                                    }
                                }
                            }

                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
